body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px;
    text-align: center;
    background: cornflowerblue;
    color: white;
    font-size: 22px;
    border-bottom: 2px solid black;
}

main {
    margin: 50px auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
}

main h1 {
background: cornflowerblue;
color: white;
border-bottom: 2px solid black;
}
main h1, main p {
    margin: 0;
    padding: 15px
}
main button {
    margin: 15px;
    padding: 5px;
}